<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>EDU <APPLET></APPLET></title>
  
  
  
     {% load staticfiles %}
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/login.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/login.js'%}"></script>
  
</head>

<body>
  <hgroup>
  <h1>EDU APP</h1>
  <h3>India  IQ  visualisation  app</h3>
</hgroup>
{% if form.errors %}
  <center><h3 style="color:red">Your username and password didn't match. Please try again.</h3></center>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
   <center> <h3 style="color:red">Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</h3></center>
    {% else %}
   <center> <h3 style="color:red">Please login to see this page.</h3></center>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">{% csrf_token %}

  <div class="group">
    {{ form.username }}
    <label> {{form.username.label_tag }}</label>
  </div>

  <div class="group">

   {{form.password}}
    <label> {{form.password.label_tag }}</label>
  </div>
  <button type="submit" class="button buttonBlue">Submit
    <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
  </button>
</form>
<footer><a href="http://www.polymer-project.org/" target="_blank"><img src="https://www.polymer-project.org/images/logos/p-logo.svg"></a>
  
</footer>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script src="js/index.js"></script>

</body>
</html>
